<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stonks - Login</title>
  </head>

  <header>
    <h1>Stonks!</h1>
  </header>

  <nav>
    <a href="home.html">Home</a>
    <a href="login.html">Login</a>
    <a href="register.html">Register</a>
    <a href="portfolio.html">Portfolio</a>
    <a href="buy.html">Buy</a>
    <a href="sell.html">Sell</a>
    <hr>
  </nav>

  <body>
    <div>
    <h3>Welcome Returning User!</h3>
    </div>
    <form>
      <label for="username">Username:</label><br>
      <input type="text" id="username" name="username"><br>
      <label for="password">Password:</label><br>
      <input type="password" id="password" name="password"><br>
      <input type="submit"><br><br>
      <div>
        Or sign up today!
        <a href="register.html">Click Here To Register</a>
      </div>
    </form>

  </body>


  <footer>
    <hr>
    <a href="home.html">Home</a>
    <a href="login.html">Login</a>
    <a href="register.html">Register</a>
    <a href="portfolio.html">Portfolio</a>
    <a href="buy.html">Buy</a>
    <a href="sell.html">Sell</a>
  </footer>


</html>
