{% extends "template.html" %}
{% set active_page = 'portfolio' -%}
{% block body_content %}
<body>
  <table class="table table-sm table-striped table-bordered table-hover table-responsive">
    <thead class="thead-light">
      <tr>
        <th scope="col">Stock</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Total</th>
      </tr>
  </thead>
    {% for symbol, quantity, price, stock_total in data %}
      <tr>
        <td>{{symbol}}</td>
        <td>{{quantity}}</td>
        <td>${{price}}</td>
        <td>${{stock_total}}</td>
      </tr>
    {% endfor %}
    <tr>
      <td colspan=3></td>
      <td>${{final_total}}</td>
    </tr>
    </tr>
  </table>
</body>
{% endblock body_content %}